<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dky.business.repository.repository.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.dky.common.bean.Article" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="AD_CLIENT_ID" property="adClientId" jdbcType="DECIMAL" />
    <result column="AD_ORG_ID" property="adOrgId" jdbcType="DECIMAL" />
    <result column="OWNERID" property="ownerid" jdbcType="DECIMAL" />
    <result column="MODIFIERID" property="modifierid" jdbcType="DECIMAL" />
    <result column="CREATIONDATE" property="creationdate" jdbcType="DATE" />
    <result column="MODIFIEDDATE" property="modifieddate" jdbcType="DATE" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DECRIPTION" property="decription" jdbcType="VARCHAR" />
    <result column="ISACTIVE" property="isactive" jdbcType="CHAR" />
    <result column="JUMPURL" property="jumpurl" jdbcType="VARCHAR" />
    <result column="IMAGEURL" property="imageurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AD_CLIENT_ID, AD_ORG_ID, OWNERID, MODIFIERID, CREATIONDATE, MODIFIEDDATE, TITLE, 
    DECRIPTION, ISACTIVE, JUMPURL, IMAGEURL
  </sql>

    <sql id="queryTmpl">
        SELECT
        <include refid="Base_Column_List" />
        FROM M_ARTICLE
        <include refid="whereClause"></include>
    </sql>

    <sql id="whereClause">
        <where>

        </where>
    </sql>

    <select id="queryByPage" resultType="com.dky.common.response.view.ArticleView" parameterType="com.dky.common.bean.Article" >
        SELECT  <include refid="Base_Column_List" /> FROM (
            SELECT <include refid="Base_Column_List" />,ROWNUM RN FROM
            ( <include refid="queryTmpl"></include> )
            WHERE 1=1
            <if test="null!=requestOffset">
                AND ROWNUM <![CDATA[ <= ]]>#{requestCount}
            </if>
        ) A WHERE 1=1
        <if test="null!=requestOffset">
            AND RN <![CDATA[ >= ]]> #{requestOffset}
        </if>
    </select>

    <select id="count" resultType="int" parameterType="com.dky.common.bean.Article">
        SELECT count(1)
        FROM M_ARTICLE
        <include refid="whereClause"></include>
    </select>

  <select id="queryArticleList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from M_ARTICLE
  </select>

  <select id="getArticleById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from M_ARTICLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
</mapper>