<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dky.business.repository.repository.PdtBasepriceMapper" >
  <resultMap id="BaseResultMap" type="com.dky.common.bean.PdtBaseprice" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="AD_CLIENT_ID" property="adClientId" jdbcType="DECIMAL" />
    <result column="AD_ORG_ID" property="adOrgId" jdbcType="DECIMAL" />
    <result column="M_PRODUCT_ID" property="mProductId" jdbcType="DECIMAL" />
    <result column="M_DIM_NEW13_ID" property="mDimNew13Id" jdbcType="DECIMAL" />
    <result column="M_DIM_NEW14_ID" property="mDimNew14Id" jdbcType="DECIMAL" />
    <result column="M_DIM_NEW16_ID" property="mDimNew16Id" jdbcType="DECIMAL" />
    <result column="XW_VALUE" property="xwValue" jdbcType="VARCHAR" />
    <result column="YC_VALUE" property="ycValue" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CLOSE_STATUS" property="closeStatus" jdbcType="DECIMAL" />
    <result column="OWNERID" property="ownerid" jdbcType="DECIMAL" />
    <result column="MODIFIERID" property="modifierid" jdbcType="DECIMAL" />
    <result column="CREATIONDATE" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="MODIFIEDDATE" property="modifieddate" jdbcType="TIMESTAMP" />
    <result column="ISACTIVE" property="isactive" jdbcType="CHAR" />
    <result column="FLOAT_RATE" property="floatRate" jdbcType="DECIMAL" />
    <result column="PRICE1" property="price1" jdbcType="DECIMAL" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AD_CLIENT_ID, AD_ORG_ID, M_PRODUCT_ID, M_DIM_NEW13_ID, M_DIM_NEW14_ID, M_DIM_NEW16_ID, 
    XW_VALUE, YC_VALUE, STATUS, CLOSE_STATUS, OWNERID, MODIFIERID, CREATIONDATE, MODIFIEDDATE, 
    ISACTIVE, FLOAT_RATE, PRICE1, PRICE
  </sql>
  <select id="queryPriceListByProductId" resultType="PdtPriceView" parameterType="map" >
    SELECT
      t2.ATTRIBNAME as mDimNew13Text,
      t3.ATTRIBNAME as mDimNew14Text,
      t4.ATTRIBNAME as mDimNew16Text,
      t1.PRICE2 AS price,
      t6.PRICERATE as floatRate
    FROM M_PDT_BASEPRICEVIEW1 t1
    LEFT JOIN M_DIM_NEW t2 on t1.M_DIM_NEW13_ID = t2.id
    LEFT JOIN M_DIM_NEW t3 on t1.M_DIM_NEW14_ID = t3.id
    LEFT JOIN M_DIM_NEW t4 on t1.M_DIM_NEW16_ID = t4.id
    LEFT JOIN C_STORE t5 on t5.ID = t1.C_STORE_ID
    LEFT JOIN B_PRICEUPSET t6 on t6.ID = t1.B_PRICEUPSET_ID
    WHERE t2.DIMFLAG='DIMFLAG_NEW13'
    AND t2.ISACTIVE = 'Y'
    AND t3.DIMFLAG='DIMFLAG_NEW14'
    AND t3.ISACTIVE = 'Y'
    AND t4.DIMFLAG='DIMFLAG_NEW16'
    AND t4.ISACTIVE = 'Y'
    AND t1.M_PRODUCT_ID = #{mProductId,jdbcType=DECIMAL}
    AND t5.CODE = #{code,jdbcType=VARCHAR}
  </select>

  <select id="getDhPrice" resultType="java.lang.String" parameterType="java.lang.Long" >
    SELECT
      t1.LSPRICE_NEW
    FROM M_BULKEDIT_PRICEITEM t1
    WHERE t1.M_PRODUCT_ID = #{mProductId,jdbcType=DECIMAL}
    AND ROWNUM = 1
    ORDER BY t1.CREATIONDATE DESC
  </select>
</mapper>