<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dky.business.repository.repository.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.dky.common.bean.Users" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="AD_CLIENT_ID" property="adClientId" jdbcType="DECIMAL" />
    <result column="AD_ORG_ID" property="adOrgId" jdbcType="DECIMAL" />
    <result column="ISACTIVE" property="isactive" jdbcType="CHAR" />
    <result column="SUPERVISOR_ID" property="supervisorId" jdbcType="DECIMAL" />
    <result column="PA_GOALPRIVATE_ID" property="paGoalprivateId" jdbcType="DECIMAL" />
    <result column="C_BPARTNER_ID" property="cBpartnerId" jdbcType="DECIMAL" />
    <result column="PROCESSING" property="processing" jdbcType="CHAR" />
    <result column="C_BPARTNER_LOCATION_ID" property="cBpartnerLocationId" jdbcType="DECIMAL" />
    <result column="C_GREETING_ID" property="cGreetingId" jdbcType="DECIMAL" />
    <result column="LASTCONTACT" property="lastcontact" jdbcType="DECIMAL" />
    <result column="BIRTHDAY" property="birthday" jdbcType="DECIMAL" />
    <result column="AD_ORGTRX_ID" property="adOrgtrxId" jdbcType="DECIMAL" />
    <result column="ISLDAPAUTHORIZED" property="isldapauthorized" jdbcType="CHAR" />
    <result column="MODIFIERID" property="modifierid" jdbcType="DECIMAL" />
    <result column="CREATIONDATE" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="MODIFIEDDATE" property="modifieddate" jdbcType="TIMESTAMP" />
    <result column="OWNERID" property="ownerid" jdbcType="DECIMAL" />
    <result column="PASSWORDHASH" property="passwordhash" jdbcType="VARCHAR" />
    <result column="ISENABLED" property="isenabled" jdbcType="DECIMAL" />
    <result column="ISEMPLOYEE" property="isemployee" jdbcType="DECIMAL" />
    <result column="ISADMIN" property="isadmin" jdbcType="DECIMAL" />
    <result column="USERTYPE" property="usertype" jdbcType="DECIMAL" />
    <result column="TRUENAME" property="truename" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="EMAILUSER" property="emailuser" jdbcType="VARCHAR" />
    <result column="EMAILUSERPW" property="emailuserpw" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="PHONE2" property="phone2" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="LASTRESULT" property="lastresult" jdbcType="VARCHAR" />
    <result column="EMAILVERIFY" property="emailverify" jdbcType="VARCHAR" />
    <result column="C_DEPARTMENT_ID" property="cDepartmentId" jdbcType="DECIMAL" />
    <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
    <result column="IS_OTP" property="isOtp" jdbcType="CHAR" />
    <result column="OTP_LENGTH" property="otpLength" jdbcType="DECIMAL" />
    <result column="OTP_SECONDS" property="otpSeconds" jdbcType="DECIMAL" />
    <result column="OTP_SECRET" property="otpSecret" jdbcType="VARCHAR" />
    <result column="OTP_COUNTER" property="otpCounter" jdbcType="DECIMAL" />
    <result column="IS_OTP_ONLY" property="isOtpOnly" jdbcType="CHAR" />
    <result column="OTP_CDATE" property="otpCdate" jdbcType="TIMESTAMP" />
    <result column="LOGIN_IP_RULE" property="loginIpRule" jdbcType="VARCHAR" />
    <result column="ISSMS" property="issms" jdbcType="CHAR" />
    <result column="IS_OUT" property="isOut" jdbcType="CHAR" />
    <result column="ASSIGNEE_ID" property="assigneeId" jdbcType="DECIMAL" />
    <result column="ISSALER" property="issaler" jdbcType="CHAR" />
    <result column="C_STORE_ID" property="cStoreId" jdbcType="DECIMAL" />
    <result column="DISCOUNTLIMIT" property="discountlimit" jdbcType="DECIMAL" />
    <result column="ISOPR" property="isopr" jdbcType="CHAR" />
    <result column="SAASVENDOR" property="saasvendor" jdbcType="VARCHAR" />
    <result column="SAASUSER" property="saasuser" jdbcType="VARCHAR" />
    <result column="HR_EMPLOYEE_ID" property="hrEmployeeId" jdbcType="DECIMAL" />
    <result column="C_CUSTOMER_ID" property="cCustomerId" jdbcType="DECIMAL" />
    <result column="C_CUSTOMERUP_ID" property="cCustomerupId" jdbcType="DECIMAL" />
    <result column="AREAMNG_ID" property="areamngId" jdbcType="DECIMAL" />
    <result column="SGRADE" property="sgrade" jdbcType="DECIMAL" />
    <result column="C_PRICEREGION_ID" property="cPriceregionId" jdbcType="DECIMAL" />
    <result column="C_SUPPLIER_ID" property="cSupplierId" jdbcType="DECIMAL" />
    <result column="SUBSYSTEMS" property="subsystems" jdbcType="VARCHAR" />
    <result column="PASSWORDEXPIRATIONDATE" property="passwordexpirationdate" jdbcType="TIMESTAMP" />
    <result column="PASSWORDRESET" property="passwordreset" jdbcType="CHAR" />
    <result column="ISRET" property="isret" jdbcType="CHAR" />
    <result column="WEBPOS_PER" property="webposPer" jdbcType="VARCHAR" />
    <result column="HR_POST_ID" property="hrPostId" jdbcType="DECIMAL" />
    <result column="ISSYS" property="issys" jdbcType="CHAR" />
    <result column="IS_SYS_USER" property="isSysUser" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dky.common.bean.Users" extends="BaseResultMap" >
    <result column="MAC" property="mac" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AD_CLIENT_ID, AD_ORG_ID, ISACTIVE, SUPERVISOR_ID, PA_GOALPRIVATE_ID, C_BPARTNER_ID, 
    PROCESSING, C_BPARTNER_LOCATION_ID, C_GREETING_ID, LASTCONTACT, BIRTHDAY, AD_ORGTRX_ID, 
    ISLDAPAUTHORIZED, MODIFIERID, CREATIONDATE, MODIFIEDDATE, OWNERID, PASSWORDHASH, 
    ISENABLED, ISEMPLOYEE, ISADMIN, USERTYPE, TRUENAME, NAME, DESCRIPTION, PASSWORD, 
    EMAIL, EMAILUSER, EMAILUSERPW, TITLE, COMMENTS, PHONE, PHONE2, FAX, LASTRESULT, EMAILVERIFY, 
    C_DEPARTMENT_ID, LANGUAGE, IS_OTP, OTP_LENGTH, OTP_SECONDS, OTP_SECRET, OTP_COUNTER, 
    IS_OTP_ONLY, OTP_CDATE, LOGIN_IP_RULE, ISSMS, IS_OUT, ASSIGNEE_ID, ISSALER, C_STORE_ID, 
    DISCOUNTLIMIT, ISOPR, SAASVENDOR, SAASUSER, HR_EMPLOYEE_ID, C_CUSTOMER_ID, C_CUSTOMERUP_ID, 
    AREAMNG_ID, SGRADE, C_PRICEREGION_ID, C_SUPPLIER_ID, SUBSYSTEMS, PASSWORDEXPIRATIONDATE, 
    PASSWORDRESET, ISRET, WEBPOS_PER, HR_POST_ID, ISSYS, IS_SYS_USER
  </sql>
  <sql id="Blob_Column_List" >
    MAC
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from USERS
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <select id="selectByEmail" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from USERS
    where EMAIL = #{email,jdbcType=VARCHAR} and isactive = 'Y'
  </select>

  <select id="getStoreCodeByEmail" resultType="java.util.Map" parameterType="java.lang.String" >
    select nvl(max(a.name),'') as userName,nvl(max(b.code),'') as code
    from users a,c_store b
    where b.id = a.c_store_id and a.EMAIL =#{email,jdbcType=VARCHAR}
  </select>

</mapper>